<!DOCTYPE html>
<html lang="en">
<head>
     <%- include("partials/head.ejs") %>
</head>
<body>
    <%- include("partials/nav.ejs") %>
    <h2><%= planet_Name %></h2>
    <div id="info">
       <div id="text"><%=planetInfo.description%></div>
       <div><img src="https://upload.wikimedia.org/wikipedia/commons/e/e2/Jupiter_OPAL_2024.png" href="jupiter" width=300></div>
    </div>
    <footer>
        <%- include("partials/footer.ejs") %>
    </footer>
</body>
</html>