<!DOCTYPE html>
<html lang="en">
<head>
     <%- include("partials/head.ejs") %>
</head>
<body>
    <%- include("partials/nav.ejs") %>
    <h2><%= planet_Name %></h2>
    <div id="info">
       <div id="text"><%=planetInfo.description%></div>
       <div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Mars_-_August_30_2021_-_Flickr_-_Kevin_M._Gill.png/960px-Mars_-_August_30_2021_-_Flickr_-_Kevin_M._Gill.png" href="mars" width=300></div>
    </div>
    <footer>
        <%- include("partials/footer.ejs") %>
    </footer>
</body>
</html>